.imagem {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner-principal{
  background-image: url(/static/media/home.ac6353c8.png);
  height: 700px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}